node_modules
.DS_Store
.env
project_overview.txt
project_overwite.txt
week4progress.txt
week3progress.txt
week2progress.txt
week1progress.txt
week8progress.txt
week5progress.txt
week6progress.txt
week7progress.txt
week9progress.txt
week10progress.txt
week11progress.txt
